<div class="jumbotron">
    <h3>Novo</h3>
    <div>
        <a href="/Dogs" class="btn btn-default">Voltar</a>
    </div>

    <form action="/Dogs/CriarDog" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome">
            <label for="raca">Raca:</label>
            <input type="text" class="form-control" id="raca" name="raca">
        </div>
       
        <button type="submit" class="btn btn-default">Salvar</button>
    </form>
</div>
